<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear/>
    <add key="Nuget" value="https://api.nuget.org/v3/index.json"/>
    <add key="HowBot" value="https://pkgs.dev.azure.com/davehow/Howbot/_packaging/HowBot/nuget/v3/index.json"/>
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"/>
  </packageSources>

  <!-- Builds for now, but need to include all packages and transitive packages -->
  <!-- Use `dotnet list packages - -include-transitive` to see all packages for all projects -->
  <!-- Also Tools/Options/Nuget -->
  <packageSourceMapping>
    <packageSource key="Nuget">
      <package pattern="DigitalOcean.API"/>
      <package pattern="Discord.Net.*"/>
      <package pattern="Docker.DotNet"/>
      <package pattern="Google.Apis"/>
      <package pattern="Google.Apis.*"/>
      <package pattern="Microsoft.*"/>
      <package pattern="RestSharp"/>
      <package pattern="System"/>
      <package pattern="System.*"/>
      <package pattern="Victoria"/>
      <package pattern="Serilog"/>
      <package pattern="Serilog.*"/>
      <package pattern="Serilog.Sinks.Console"/>
      <package pattern="Newtonsoft.Json"/>
      <package pattern="Ardalis.GuardClauses"/>
    </packageSource>
  </packageSourceMapping>
</configuration>
