/* Nord Theme Colors */
:root {
    --nord0: #2E3440; /* Polar Night */
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    --nord4: #D8DEE9; /* Snow Storm */
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    --nord7: #8FBCBB; /* Frost */
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    --nord11: #BF616A; /* Aurora */
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: var(--nord0);
    color: var(--nord4);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Additional styling can go here */

.btn-nord {
    background-color: var(--nord9);
    color: var(--nord3);
    border: none;
    transition: background-color 0.3s ease;
}

.btn-nord:hover {
    background-color: var(--nord10);
    color: var(--nord0);
}