<footer class="footer-bg text-center text-lg-start">
    <div class="text-center p-3 footer-content">
        &copy; 2024 My Application - All rights reserved.
        <div>
            <a href="https://example.com/privacy" class="link-dark">Privacy Policy</a> |
            <a href="https://example.com/terms" class="link-dark">Terms of Service</a> |
            <p>Icons by <a class="link-dark" href="https://icons8.com/">Icons8</a></p>
        </div>
    </div>
</footer>