@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <NavMenu/>

    <main role="main" class="flex-grow-1">
        <div class="container py-3">
            @Body
        </div>
    </main>

    <Footer></Footer>
</div>