@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg navbar-custom mt-2">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand" href="/">Howbot Dashboard (Beta)</a>
        <div class="navbar-nav">
            @if (IsAuthenticated)
            {
                <span class="navbar-text me-3">Welcome, @LoggedInUserName</span>
                <button class="btn btn-outline-danger" @onclick="Logout">Logout</button>
            }
            else
            {
                <NavLink class="btn btn-outline-light discord-login-btn" href="/authentication/login/discord">
                    <img src="/img/discord-mark-white.svg" alt="Discord logo" width="20" class="me-1"> Sign In With Discord
                </NavLink>
            }
        </div>
    </div>
</nav>

<style>
    /* TODO: Remove this, and put in CSS Isolation for this component.*/
    .discord-login-btn {
        border-color: #ffffff;
        border-color: rgba(255, 255, 255, 0.5);
    }

    .discord-login-btn:hover {
        background-color: #5865F2;
        color: white
    }
</style>
