.navbar-custom {
    background-color: var(--nord0); /* Use darker shade for navbar bg */
}

    .navbar-custom .navbar-brand, .navbar-custom .nav-link {
        color: var(--nord4); /* Lighter text for contrast */
    }

        .navbar-custom .nav-link:hover, .navbar-custom .nav-link:focus {
            color: var(--nord7); /* A frost color for hover state */
        }

        .navbar-custom .nav-link.active {
            color: var(--nord8); /* Different frost color for active link */
            background-color: var(--nord1); /* Slightly lighter navbar bg for active link */
        }

/* Adjustments for mobile nav toggle */
.navbar-toggler {
    border-color: var(--nord3);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(216, 222, 233, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}